<div>
  <div>
    <label for="speechVoices">Language</label>
    <select
      id="speechVoices"
      name="speechVoices"
      (change)="onChangeVoice($any($event.target).value)"
      [value]="getCurrentVoice()"
    >
      @for (voice of getVoices(); track voice) {
        <option [value]="voice">
          {{ voice }}
        </option>
      }
    </select>
  </div>

  <div>
    <p>Pitch</p>
    <label for="pitchRange">Pitch</label>
    <input
      id="pitchRange"
      type="range"
      min="0.1"
      max="3"
      step="0.1"
      value="1.5"
      (change)="onPitch(+$any($event.target).value)"
    />

    <p>Rate</p>
    <label for="rateRange">Rate</label>
    <input
      id="rateRange"
      type="range"
      min="0.1"
      max="3"
      step="0.1"
      value="1.5"
      (change)="onRate(+$any($event.target).value)"
    />

    <p>Volume</p>
    <label for="volumeRange">Volume</label>
    <input
      id="volumeRange"
      type="range"
      min="0.1"
      max="3"
      step="0.1"
      value="1"
      (change)="onVolume(+$any($event.target).value)"
    />
  </div>
</div>
