<div class="epub-options-parent">
  <div class="menu">
    <button type="button" aria-label="Open options menu">
      &#8942; </button>

    <div class="menu-list">
      @if (hasBook()) {
        <button type="button" (click)="toggleRead()">
          {{ getReadText() }}
        </button>

        <button type="button" (click)="showChapters()">
          {{ getIndexText() }}
        </button>
      }

      <button type="button" (click)="fileInput.click()" class="file-selector">
        Upload
        <input
          #fileInput
          type="file"
          (change)="onFileSelected($event)"
          class="file-selector"
          style="display: none;"
        />
      </button>

      <button type="button" (click)="showReadOptions()">
        Read aloud Options
      </button>
    </div>
  </div>
</div>
