<div class="render-parent">
  <app-epub-options class="epub-options"></app-epub-options>
  <div class="menu-content">
    <button type="button" (click)="fileInput.click()" class="file-selector">
      <span>Upload</span>
      <input
        #fileInput
        type="file"
        (change)="onFileSelected($event)"
        class="file-selector"
        style="display: none;"
      />
    </button>
    <!-- Index -->
    <div #indexMenu class="book-index">
      <!-- Episodes -->
      <div [innerHTML]="getIndexContent()" class="index-obj"></div>
      <div *ngIf="useContentAsMenu()">
        <button
          *ngFor="let obj of getContent()"
          (click)="skipTo(getContentName(obj))"
          class="index-obj"
        >
          {{ getContentName(obj) }}
        </button>
      </div>
    </div>
  </div>
  <div #contentDisplay>
    <app-epub-display [book]="getBook()"></app-epub-display>
  </div>
</div>
