<div class="render-parent">
  <div class="example-container">
    @if (opened) {
      <div #sidenav class="menu-content">
        <div>
          <button (click)="toggleIndex()" class="file-selector">Close</button>

          <div #indexMenu class="book-index"></div>

          @if (useContentAsMenu()) {
            <div class="book-index">
              <h1 class="index-title">Chapters:</h1>
              @for (obj of getContent(); track obj.name || $index) {
                <button type="button" (click)="skipTo(getContentName(obj))" class="index-obj">
                  {{ getContentName(obj) }}
                </button>
              }
            </div>
          } @else {
            <h1 class="index-title">Welcome to the Book!</h1>
          }
        </div>
      </div>
    }

    <div class="sidenav-content">
      <app-epub-options class="epub-options"></app-epub-options>
      <app-epub-reader></app-epub-reader>
      <app-epub-display [book]="getBook()"></app-epub-display>
      <app-epub-reader-options></app-epub-reader-options>
    </div>
  </div>
</div>
