.render-parent {
  height: 98vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu-content {
  position: fixed;
  width: 20%;
  top: 0px;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.file-selector {
  width: 100%;
  z-index: 2;
  height: 30px;
}
.book-index {
  border: 1px solid black;
  position: absolute;
  top: 35px;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid rgb(65, 65, 65);
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.epub-options {
  position: fixed;
  top: 5px;
  right: 5px;
  width: max-content;
  z-index: 3;
}
