.book {
  height: 99%;
  width: 80%;
  margin-left: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 127, 228);
}

.book-title {
  text-align: center;
}
.pages-parent {
  display: flex;
  flex-direction: column;
}
.book-content {
  margin-left: 1%;
  width: 98%;
}
