.book {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: beige;
}

.book-title {
  text-align: center;
}
.pages-parent {
  display: flex;
  flex-direction: column;
}
.book-content {
  margin-left: 1%;
  width: 98%;
}
