<div>
  <select [(ngModel)]="selectedValue" class="voices">
    <option *ngFor="let voice of getVoices()" [value]="voice">
      {{ voice }}</option
    >
  </select>
  <!-- <mat-form-field appearance="fill">
      <mat-label>Language</mat-label>

      <mat-select [(ngModel)]="selectedValue" name="speechVoices">
        <mat-option *ngFor="let voice of getVoices()" [value]="voice">
          {{ voice }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  <button (click)="testVoice()">Test</button>
</div>
