/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
.selected {
  background-color: #3b82f6;
  color: white;
}
.text-obj {
  background-color: transparent;
  color: #111;
}
